{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-4">Cadastrar Jogo</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if field.name == 'bio' %}
                        <p class="form-control-static">Gerada automaticamente por IA</p>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </form>
{% endblock %}
